snippet doc
/**
 * $1
 */
endsnippet

# Javadoc in one line
snippet doconel
/** $1 */
endsnippet

snippet classmain
public class ${1:`!v expand("%:r")`} {
	public static void main(String[] args) {
		$2
	}
}
endsnippet
