snippet comment "function" bm
##############################################################################
# ${1:Do something}
# Globals:
#   $2
# Arguments:
#   ${3:None}
# Returns:
#   ${4:None}
##############################################################################
endsnippet
